<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                           ">

       <tx:annotation-driven/>
       <context:component-scan base-package="pl.edu.amu.dji.jms.lab4.analysis.reporting.*"/>
       
       <bean id="toUseConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
              <property name="brokerURL" value="tcp://localhost:61616"/>
       </bean>
       <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
              <property name="connectionFactory" ref="toUseConnectionFactory"/>
       </bean>
       <bean id="transactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
              <property name="connectionFactory" ref="connectionFactory"/>
       </bean>
       
       <bean id="productMsgConverter" class="pl.edu.amu.dji.jms.lab4.converter.ProductMsgConverter">
       </bean>

       <bean id="reportSvc" class="pl.edu.amu.dji.jms.lab4.analysis.reporting.ReportSvc">
       </bean>
       
       <bean id="reportQueue" class="org.apache.activemq.command.ActiveMQQueue">
              <constructor-arg value="reportQueue"/>
       </bean>

       <bean id="reportServiceAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
              <property name="delegate" ref="reportSvc"/>
              <property name="defaultListenerMethod" value="addSalesInfo"/>
              <property name="messageConverter" ref="productMsgConverter"/>
       </bean>
       <bean id="messageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
              <property name="sessionTransacted" value="true"/>
              <property name="messageListener" ref="reportServiceAdapter"/>
              <property name="connectionFactory" ref="connectionFactory"/>
              <property name="destination" ref="reportQueue"/>
       </bean>
</beans>